// Секция преимуществ

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__header {
  padding: 30px;
  text-align: center;
  font-size: 24px;
}

.advantages__list {
  .list-reset();
  background-image: url("../../img/bg-triangle-grey.svg");
  background-position: 0 15%;
  background-repeat: no-repeat;
  padding: 50px 20px 20px;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.advantages__footer {
  display: flex;
  justify-content: center;
  background-color: @very-light-gray;
}
