// Секция скачать приложение

.download-application {
  background-color: @dark-blue-blue;
  padding: 20px 0;

  .tablet ({
    position: relative;
    bottom: 300px;
    background: none;
    margin-bottom: -150px;
  });

  .desktop ({
    bottom: 8%;
  });
}

.download-application__wrap {
  .tablet ({
    width: 280px;
  });

  .desktop ({
    width: 35%;
  });
}

.download-application__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: @white;
  text-decoration: none;
  padding: 21px 15px;
  border: 3px solid @white;
  border-radius: 29px;
  display: block;
  text-align: center;

  .desktop ({
    font-size: 21px;
    padding: 20px 10px;
  });
}

.download-application__link-icon {
  display: block;
  background-repeat: no-repeat;
}

.download-application__list {
  .list-reset();
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px 40px;
}

.download-application__small {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: @white;
  text-align: center;
}
