// Блок редактирование фотографий

.editing {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.editing__wrap-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
}

.editing__button-bottom {
  margin: 10px 0;
}
