// Блок редактирование фотографий

.editing {
  display: flex;
  flex-direction: column;
  align-items: center;

  // .desktop ({
  //   max-width: 940px;
  // });
}

.editing__text-wrap {
  font-size: 14px;
  margin: 20px auto 70px;
  text-align: center;

  .tablet ({
    width: 422px;
    font-size: 18px;
  });
}

.editing__text {
  margin: 0;
  line-height: 1.4;
}

.editing__article {
  background-color: @very-light-gray;

  .desktop ({
    margin: 0 20px;
  });
}

.editing__article-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .tablet ({
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  });
}

.editing__wrap-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px 0;

  .tablet ({
    margin: 0;
  });
}

.editing__button-bottom-wrap {
  display: flex;
  flex-direction: column;

  .desktop ({
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  });
}

.editing__button-bottom {
  margin: 10px 0;
}
