//Блок эффект на  24 часа

.effect {
  .mobile-only ({
    display: none;
  });

  .tablet ({
    display: flex;
  });

  .desktop ({
    padding: 60px 0;
    background-color: @very-light-gray;
    margin-bottom: 40px;
  });
}

.effect__wrap {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    min-width: 238px;
    min-height: 276px;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  .desktop ({
    &::before {
      width: 298px;
      height: 345px;
    }
  });
}

.effect__inner-wrapper {
  width: 50%;
  margin-left: auto;
}

.effect__title {
  font-size: 30px;

  .tablet ({
    margin: 25px 0 10px;
  });

  .desktop ({
    margin-bottom: 40px;
  });
}

.effect__text {
  line-height: 1.5;
  width: 96%;
  margin-top: 0;

  .desktop ({
    font-size: 18px;
    margin-bottom: 47px;
  });
}

.effect__link {
  color: @crimson;

  .desktop ({
    font-size: 18px;
  });
}

br {
  .desktop ({
    display: none;
  });
}
