// Форма сайта

.form__list {
  .list-reset();
  margin-bottom: 20px;
}

.form__fieldset-wrap {
  background-color: @very-light-gray;
  padding: 20px 0;
  margin-bottom: 20px;
}

.form__fieldset {
  margin: 0;
  border: none;
}
