// Форма сайта

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .desktop ({
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content min-content min-content min-content;
    align-items: center;
    gap: 30px;
  });
}

.form__user-wrap {
  width: 100%;

  &--content-information {
    .desktop ({
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    });
  }

  &--message {
    .desktop ({
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 4;
    });
  }
}

.form__list {
  .list-reset();
  margin-bottom: 20px;

  &--content-information {
    .desktop ({
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      margin: 0 30px;
    });
  }

  &--checkbox {
    .desktop ({
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    });
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .tablet ({
    flex-direction: row;
    align-items: baseline;
    margin: 40px 0;

    &--tel-email {
      flex-direction: column-reverse;
      margin: 20px 40px;
    }
  });

  .desktop ({
    margin: 28px 0 0;
  });
}

.form__item-checkbox,
.form__item-radio {
  margin-bottom: 50px;
}

.form__item-checkbox {
  .desktop ({
    margin: auto 10px;
    padding: 20px 10px 20px 50px;
  });
}

.form__fieldset-wrap {
  background-color: @very-light-gray;
  padding: 20px 0;
  margin-bottom: 20px;

  .tablet ({
    width: 100%;
    background: none;
  });

  &--radio {
    .desktop ({
      min-height: 297px;
      margin: auto;
      padding: 0;
    });
  }

  &--checkbox {
    .desktop ({
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
      padding: 20px 0;
    });
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  .tablet ({
    border: 2px solid @light-gray;
    border-radius: 1px;
  });
}

.form__label {
  margin: 0 10px 10px;
  color: @crimson;
  text-transform: uppercase;
}

.form__input {
  padding: 20px 10px;
  border: 2px solid @light-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;

  &--tel-email {
    margin-bottom: 20px;
  }

  .tablet ({
    width: 100%;
  });
}

.form__input--message {
  resize: none;

  .tablet ({
    width: 79%;
    margin: auto;
  });

  .desktop ({
    width: 85%;
  });
}

.form__legend {
  text-align: center;
  color: @crimson;
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 40px;

  &--tel-email {
    display: none;

    .tablet ({
      display: block;
    });
  }


  &--message {
    margin-bottom: 10px;
  }
}

.form__button-small {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tablet ({
    flex-direction: row;
    justify-content: space-between;
  });

  .desktop ({
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
  });
}
