// Форма сайта

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .desktop ({
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content min-content min-content min-content;
    align-items: center;
    gap: 30px;
  });
}

.form__user-wrap {
  width: 100%;

  &--content-information {
    .tablet ({
      order: 1;
    });

    .desktop ({
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    });
  }

  &--message {
    .tablet ({
      order: 3;
    });

    .desktop ({
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 4;
    });
  }
}

.form__list {
  .list-reset();
  margin-bottom: 20px;

  &--content-information {
    .desktop ({
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      margin: 0 30px;
    });
  }

  &--checkbox {
    .desktop ({
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    });
  }

  &--radio {
    .desktop ({
      margin-left: 74px;
    });
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .tablet ({
    flex-direction: row;
    align-items: baseline;
    margin: 40px 0;

    &--tel-email {
      flex-direction: column-reverse;
      margin: 20px 40px;
    }
  });
}

.form__item-checkbox,
.form__item-radio {
  margin-bottom: 50px;
}

.form__item-checkbox {
  .desktop ({
    margin: auto 10px;
    padding: 20px 10px 20px 50px;
  });
}

.form__fieldset-wrap {
  width: 100%;
  background-color: @very-light-gray;
  padding: 20px 0;
  margin-bottom: 20px;

  .tablet ({
    width: 100%;
    background: none;
  });

  &--radio {
    .desktop ({
      min-height: 297px;
      margin: 5px auto 0;
      padding: 0;
    });
  }

  &--checkbox {
    .tablet ({
      order: 2;
    });

    .desktop ({
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
      padding: 20px 0;
    });
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  .tablet ({
    border: 2px solid @light-gray;
    border-radius: 1px;
    padding: 14px;
    margin-bottom: 30px;
  });

  &--radio,
  &--checkbox {
    .tablet ({
      padding-left: 60px;
    });

    .desktop ({
      padding: 0;
      margin: 0;
    });
  }
}

.form__label {
  margin: 0 10px 10px;
  color: @crimson;
  text-transform: uppercase;
}

.form__label-checkbox,
.form__label-radio {
  cursor: pointer;
  padding: 10px 5px 10px 60px;
  position: relative;
}

.form__input-checkbox + .form__label-checkbox {
  &::before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: @white;
    border: 2px solid @light-gray;
    border-radius: 1px;
    transform: translateY(-50%);
  }
}

.form__input-checkbox:checked + .form__label-checkbox {
  &::after {
    content: "";
    .check();
    width: 22px;
    height: 16px;
    position: absolute;
    left: 7px;
    background-repeat: no-repeat;
  }
}

.form_input-radio + .form__label-radio {
  &::before {
    content: "";
    width: 37px;
    height: 37px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: @white;
    border: 2px solid @light-gray;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.form_input-radio:checked + .form__label-radio {
  &::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: @crimson;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
  }
}

.form__input {
  padding: 20px 10px;
  border: 2px solid @light-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;

  &--tel-email {
    margin-bottom: 20px;
  }

  .tablet ({
    width: 100%;
  });
}

.form__input--message {
  resize: none;

  .tablet ({
    width: 79%;
    margin: auto;
  });

  .desktop ({
    width: 85%;
  });
}

.form__legend {
  text-align: center;
  color: @crimson;
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 40px;

  &--tel-email {
    display: none;

    .tablet ({
      display: block;
    });
  }

  &--message {
    margin-bottom: 10px;
  }

  &--radio {
    .desktop ({
      margin-bottom: 65px;
    });
  }
}

.form__button-send {
  .button();
  width: 280px;
  margin-bottom: 45px;
}

.form__button-small {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tablet ({
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  });

  .desktop ({
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
  });
}

.form__small {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form__small-star {
  color: @crimson;
}

.form__small-desktop {
  display: none;

  .desktop ({
    display: inline;
  });
}
