// Секция hero

.hero {
  display: flex;
  background-color: @dark-blue-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: @white;
  position: relative;
  text-align: center;
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0;
}

.hero__text {
  font-weight: 300;
  line-height: 2;
  font-size: 24px;
  margin: auto;
  padding: 20px;
}

.hero__img {
  align-self: flex-start;
}
