// Меню сайта

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-top: 1px solid @black;

  .desktop ({
    flex-direction: row;
    border: none
  });
}

.navigation__link {
  display: block;
  color: @white;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  padding: 25px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid @black;
  border-top: 1px solid rgba(@white, 0.15);
  position: relative;

  .desktop ({
    border: none;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 1;
  });
}

.navigation__toggle {
  position: absolute;
  right: 20px;
  top: 30px;

  .desktop ({
    display: none;
  });
}
