// Шапка сайта

.page-header {
  background-color: @dark-blue;
  // background-color: rgba(@black, 30%);
  color: @white;
  position: relative;
  min-width: 100%;
  min-height: 66px;
  z-index: 5;
}

.page-header__wrap {
  display: flex;
  flex-direction: column;

  .desktop ({
    flex-direction: row;
    justify-content: space-around;
  });
}

.page-header__logo {
  display: block;
  padding: 23px 15px;
  width: 74px;
  height: 23px;
  margin-left: 20px;

  .tablet ({
    width: 145px;
    height: 40px;
  });

  .desktop ({
    width: 147px;
    height: 40px;
  });
}
