// Шапка сайта

.page-header {
  background-color: @black-transparent;
  color: @white;
  position: absolute;
  width: 320px;
  min-height: 66px;
  z-index: 5;
}

.page-header__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 17px 20px;
}
