// Шапка сайта

.page-header {
  background-color: rgba(@black, 30%);
  color: @white;
  position: absolute;
  min-width: 100%;
  min-height: 66px;
  z-index: 5;
}

.page-header__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 17px 20px;
}
