// Блок с тарифами

.rates {
  width: 100%;
  min-height: 216px;
  display: flex;
  justify-content: center;
  background-image: url("../img/bg-triangle-grey.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 50px 0 30px;
}

.rates__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  position: relative;
  margin: 0 auto;
}

.rates__list {
  .list-reset();
  display: flex;
  align-items: center;
  position: absolute;
}

.rates__item {
  width: 280px;
  position: relative;

  .tablet ({
    width: 153px;
    display: block;
  });

  .desktop ({
    width: 234px;
  });

  &--tariff-name {
    .mobile-only ({
      display: none;
    });
  }
}

.rates__article {
  display: flex;
  flex-direction: column;
}

.rates__header {
  background-color: @dark-blue;
  color: @white;
  padding: 10px 20px 25px;
  border: 1px solid @light-gray;

  &--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.rates__empty-cell {
  background-color: @very-light-gray;
  border: none;
  border-bottom: 1px solid @light-gray;
}

.rates__title {
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;

  .desktop ({
    font-size: 18px;
  });
}

.rates__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;

  .desktop ({
    font-size: 24px;
  });
}

.rates__text-wrap {
  background-color: @white;
}

.rates__text {
  color: @dark-blue;
  text-transform: uppercase;
  border: 1px solid @light-gray;
  padding: 15px;
  margin: 0;

  .tablet ({
    text-transform: capitalize;
    padding: 7px 10px 8px;
  });

  .desktop ({
    padding: 23px 22px;
  });
}

.rates__hide {
  .tablet ({
    font-size: 0;
  });
}
