// Блок с тарифами

.rates {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  background-image: url("../img/bg-triangle-grey.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 50px 0 5px;
}

.rates__container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 230px;
  position: relative;
  margin: 0 auto;
}

.rates__list {
  .list-reset();
  display: flex;
  align-items: center;
  position: absolute;

  .tablet ({
    position: relative;
    margin: 50px 0 30px;
  });
}

.rates__item {
  width: 280px;
  position: relative;

  .tablet ({
    width: 153px;
    display: block;
  });

  .desktop ({
    width: 234px;
  });

  &--tariff-name {
    .mobile-only ({
      display: none;
    });
  }
}

.rates__article {
  display: flex;
  flex-direction: column;
  position: relative;

  // ХИТ

  &--hit {
    overflow: hidden;

    &::before {
      content: "Хит";
      color: @white;
      width: 100px;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      left: -100px;
      padding-top: 9px;
      padding-bottom: 3px;
      padding-left: 42px;
      padding-right: 40px;
      background-color: @crimson;
      transform: rotate(-45deg) translateX(50%);
      transform-origin: 100% 0;
    }
  }
}


.rates__header {
  background-color: @dark-blue;
  color: @white;
  padding: 20px;
  border: 1px solid @light-gray;
  border-bottom: none;

  &--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--base {
    border-radius: 1px 0 0 0;
  }

  &--unlim {
    border-radius: 0 1px 0 0;
  }

  .tablet ({
    padding: 12px 20px;
  });

  .desktop ({
    padding: 16px 20px;
  });
}

.rates__empty-cell {
  background-color: @very-light-gray;
  border: none;
  border-bottom: 1px solid @light-gray;
}

.rates__title {
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;

  .desktop ({
    font-size: 18px;
  });
}

.rates__price {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;

  .desktop ({
    font-size: 24px;
  });
}

.rates__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 15px 20px;
  color: @dark-blue;
  background-color: @white;
  text-transform: uppercase;
  border: 1px solid @light-gray;
  margin: 0;

  &--1,
  &--4,
  &--7,
  &--10 {
    border-top: 2px solid @light-gray;
  }

  &--1,
  &--2,
  &--3 {
    border-left: 2px solid @light-gray;
  }

  &--10,
  &--11,
  &--12 {
    border-right: 2px solid @light-gray;
  }

  &--3,
  &--6,
  &--9,
  &--12 {
    border-bottom: 2px solid @light-gray;
  }

  &--1 {
    border-radius: 1px 0 0 0;
  }

  &--3 {
    border-radius: 0 0 0 1px;
  }

  &--12 {
    border-radius: 0 0 1px 0;
  }

  .tablet ({
    padding: 15px;
    text-transform: capitalize;
  });

  .desktop ({
    font-size: 18px;
  });
}

.rates__hide {
  margin-right: auto;
  .tablet ({
    margin-right: 0;
    font-size: 0;
  });
}

.rates__icon {
  &--yes {
    fill: @green;
  }

  &--no {
    fill: @red-orange;
  }

  .tablet ({
    margin: auto;
  });
}
