// Слайдер

.slider__item {
  display: none;

  &--active {
    display: flex;
    margin: auto;
  }

  &--rates {
    display: block;
  }
}

// Круги управления слайдером

.slider__dots {
  .list-reset();
  display: flex;
  align-items: center;
  justify-content: center;

  .desktop ({
    display: none;
  });

  &--rates {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    .tablet ({
      display: none;
    });
  }
}

.slider__button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border: 3px solid rgba(@dark-blue, 0.3);
    position: absolute;
    border-radius: 50%;
  }

  &--active {
    &::before {
      content: "";
      width: 9px;
      height: 9px;
      background-color: @white;
      border: 3px solid @dark-blue;
      position: absolute;
    }
  }
}

.slider__control {
  display: none;

  .desktop ({
    .list-reset();
    display: block;
  });
}

.slider__arrow {
  width: 22px;
  height: 41px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-image: url("../img/icon-review-arrow-left.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--right {
    background-image: url("../img/icon-review-arrow-right.svg");
    right: 20px;
  }
}
