// Слайдер

.slider__item {
  display: none;

  &--active {
    display: block;
    margin: auto;
  }
}

.slider__dots {
  .list-reset();
  display: flex;
  align-items: center;
  justify-content: center;

  .desktop ({
    display: none;
  });
}

.slider__control {
  display: none;

  .desktop ({
    .list-reset();
    display: block;
  });
}
