// Карточки галереи

.user-story {
  height: 100%;
  display: flex;
  flex-direction: column;

  &--best-panorama .user-story__wrap {
    margin: 0 20px 20px;
  }
}

.user-story__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  background-color: #f2f2f2;
  padding: 8px 17px 20px;
}

.user-story__link {
  display: flex;
  width: 100%;
  min-height: 137px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  .tablet ({
    min-height: 300px;
  });
}

.user-story__link-img {
  width: 100%;
}
